<!DOCTYPE html>
<html lang="en">
<head>
{{ template "components/head.html" }}
{{ $article := datasource "article" }}
{{ $site := datasource "site" }}

<meta property="og:title" content="{{ $article.title }}" />
<meta property="og:site_name" content="{{ $site.name }}'s blog" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ $article.synopsis.text }}" />
<meta property="article:author" content="{{ $site.author }}" />
<title>{{ $article.title }} &mdash; {{ $site.name }}'s blog</title>
</head>
<body>
{{ template "components/header.html" }}

<main id="article">
	<article>
		<aside>
			<time datetime="{{ (time.Unix $article.writtenAt).Format "2006-01-02" }}">{{ (time.Unix $article.writtenAt).Format "2006/01/02" }}</time>
			{{ if not (eq $article.writtenAt $article.updatedAt) }}
			(updated at <time datetime="{{ (time.Unix $article.updatedAt).Format "2006-01-02" }}">{{ (time.Unix $article.updatedAt).Format "2006/01/02" }}</time>)
			{{ end }}
		</aside>
		<div class="article-body">
			{{ $article.body.html }}
		</div>
	</article>
</main>

{{ template "components/footer.html" }}
</body>
</html>
