<!DOCTYPE html>
<html lang="en">
<head>
{{ template "components/head.html" }}
{{ $articles := datasource "articles" }}

<meta property="og:title" content="Blog - oxod" />
<meta property="og:site_name" content="oxod" />
<meta property="og:type" content="website" />
<title>Blog &mdash; oxod</title>
</head>
<body>
{{ template "components/header.html" }}

<main id="blog">
		{{ range $articles }}
		<article>
			<aside>
				<time datetime="{{ (time.Unix .writtenAt).Format "2006-01-02" }}">{{ (time.Unix .writtenAt).Format "2006/01/02" }}</time>
			</aside>
			<a href="/{{ .slug }}" class="title">
				{{ .title }}
			</a>
		</article>
		{{ end }}
</main>

{{ template "components/footer.html" }}
</body>
</html>
