<!DOCTYPE html>
<html lang="en">
<head>
{{ template "components/head.html" }}
{{ $articles := datasource "articles" }}
{{ $site := datasource "site" }}

<meta property="og:title" content="{{ $site.pages.blog.title }} - {{ $site.name }}" />
<meta property="og:site_name" content="{{ $site.name }}" />
<meta property="og:type" content="website" />
<title>{{ $site.pages.blog.title }} &mdash; {{ $site.name }}</title>
</head>
<body>
{{ template "components/header.html" }}

<main id="blog">
	{{ range $articles }}
	<article>
		<aside>
			<time datetime="{{ (time.Unix .writtenAt).Format "2006-01-02" }}">{{ (time.Unix .writtenAt).Format "2006/01/02" }}</time>
		</aside>
		<a href="/{{ .slug }}" class="title">
			{{ .title }}
		</a>
	</article>
	{{ end }}
</main>

{{ template "components/footer.html" }}
</body>
</html>
