<!DOCTYPE html>
<html lang="en">
<head>
{{ template "components/head.html" }}

<meta property="og:title" content="Contact - oxod" />
<meta property="og:site_name" content="oxod" />
<meta property="og:type" content="website" />
<title>Contact &mdash; oxod</title>
</head>
<body>
{{ template "components/header.html" }}

<main id="contact">
		<article>
			<div class="article-body">
				<p>Email: <a href="mailto:<!--email_off-->me@oxod.nl<!--/email_off-->"><!--email_off-->me@oxod.nl<!--/email_off--></a></p>
				<p>GitHub: <a href="https://github.com/oxodx" rel="noopener noreferrer" target="_blank">github.com/oxodx</a></p>
			</div>
		</article>
</main>

{{ template "components/footer.html" }}
</body>
</html>
