<!DOCTYPE html>
{{ template "components/head.html" }}

<meta property="og:title" content="Contact - oxod" />
<meta property="og:site_name" content="oxod" />
<meta property="og:type" content="website" />
<title>Contact — oxod</title>

{{ template "components/header.html" }}

<main id="contact">
	<article>
		<div class="article-body">
			<p>Email: <a href="mailto:me@oxod.nl">me@oxod.nl</a></p>
			<p>GitHub: <a href="https://github.com/oxodx" rel="noopener noreferrer" target="_blank">github.com/oxodx</a></p>
		</div>
	</article>
</main>

{{ template "components/footer.html" }}
