<!DOCTYPE html>
<html lang="en">
<head>
{{ template "components/head.html" }}

<meta property="og:title" content="Donate - oxod" />
<meta property="og:site_name" content="oxod" />
<meta property="og:type" content="website" />
<title>Donate &mdash; oxod</title>
</head>
<body>
{{ template "components/header.html" }}

<main id="content">
	<div id="donate">
		<article>
			<header class="page-heading">
				<h1>Donate</h1>
			</header>
			<div class="article-body">
				<p>Thanks for considering supporting my work!</p>
				<p>Crypto donations welcome:</p>
				<dl>
					<dt>Bitcoin (BTC)</dt>
					<dd><code>bc1q6uvg8q0tk08qwa6jcwzqn57r7ku7phyhxjnzrm</code></dd>
					<dt>Ethereum (ETH)</dt>
					<dd><code>0x95c508755A2a34F1aDF8F00A545ca275Ab6F2F3d</code></dd>
					<dt>Solana (SOL)</dt>
					<dd><code>DaFnuVaJf2sCRdQfdhptZyf4hnpWfGZWuNuSWaANJsX5</code></dd>
				</dl>
			</div>
		</article>
	</div>
</main>

{{ template "components/footer.html" }}
</body>
</html>
