<!DOCTYPE html>
<html lang="en">
<head>
{{ template "components/head.html" }}
{{ $page := datasource "page" }}
{{ $site := datasource "site" }}

<meta property="og:title" content="{{ $page.title }} - {{ $site.name }}" />
<meta property="og:site_name" content="{{ $site.name }}" />
<meta property="og:type" content="website" />
<title>{{ $page.title }} &mdash; {{ $site.name }}</title>
</head>
<body>
{{ template "components/header.html" }}

<main id="{{ $page.id }}">
	<article>
		<div class="article-body">
			{{ $page.body.html }}
		</div>
	</article>
</main>

{{ template "components/footer.html" }}
</body>
</html>
